// Variables
$navigationBarColor: #ddd;
$mainBackground: #f1f1f1;

// Mixins

// Styles
body, html {
    height: 100%;
    margin: 0;
}

.grid {
    &-header {
        grid-area: header;
        background-color: $navigationBarColor;
    }
    
    &-main {
        grid-area: main;
        background-color: $mainBackground;
    }
    
    &-container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px auto auto;
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "main main main main"; 
    }
}
