// Variables

// Navigation Bar Colors
$currentLinkColor: cyan;
$usualLinkColor: green;
$usualLinkHoverColor: #555;
$navigationBarColor: #ddd;
$mainBackground: #f1f1f1;

// Mixins

// Navigation Bar
@mixin item-layout {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

// Styles
body, html {
    height: 100%;
    margin: 0;
}

.screen {
    &-header {
        grid-area: header;
        background-color: $navigationBarColor;
    }
    
    &-main {
        grid-area: main;
        background-color: $mainBackground;
    }
    
    &-container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px auto auto;
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "main main main main"; 
    }
}

.navbar {
    &-current {
        @include item-layout;
        color: $currentLinkColor;
        background-color: $usualLinkColor;
    }

    &-usual {
        @include item-layout;
        color: black;
        &:hover {
            background-color: $usualLinkHoverColor;
            color: white;
        }
    }

    &-itemleft {
        grid-area: itemleft;
        justify-self: start;
        align-self: center;
    }
    &-itemright {
        grid-area: itemright;
        justify-self: end;
        align-self: center;
    }
    &-container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "itemleft itemright";
    }
}
