// Variables 
@borderColor: #f1f1f1;
@inputBorderColor: #ccc;
@buttonBackground: #4caf50;
@hoveredButtonColor: #3e8e41;
@cancelButtonBackground: #f44336;
@modalBackground: rgba(0, 0, 0, 0.4);
@modalContentBackground: #fefefe;
@modalContentBorderColor: #888;
@closeButtonColor: #000;
@showLoginButtonShadow: #999999;

// Containers
.image-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding:  16px;
    text-align: center;

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid @inputBorderColor;
        box-sizing: border-box;
    }

    input[type=checkbox] {
        width: 15px;
        padding: 12px 20px;
        margin: 5px 0;
        display: inline-block;
    }

    label {
        float: left;
        display: block;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: @modalBackground;
    padding-top: 60px;

    &-content {
        background-color: @modalContentBackground;
        margin: 5px auto 15px auto;
        border: 1px solid @modalContentBorderColor;
        width: 80%;
    }

    &-button {
        background-color: @buttonBackground;
        color: white;
        padding: 14px 20px;
        margin: 8px auto;
        border: none;
        cursor: pointer;
        width: 130px;
        display: block;
        text-align: center;
    
        &:hover {
            opacity: 0.8;
        }
    
        &-close {
            position: absolute;
            right: 25px;
            top: 0;
            color: @closeButtonColor;
            font-size: 35px;
            font-weight: bold;
    
            &:hover, &:focus {
                color: red;
                cursor: pointer;
            }
        }
    }
}

// Images
img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

// Buttons
.show-login {
    text-align: center;
    display: block;
    background-color: @buttonBackground;
    padding: 15px 25px;
    position: relative;
    margin: 0 auto;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px @showLoginButtonShadow;

    &:hover {
        background-color: @hoveredButtonColor;
    }

    &:active {
        background-color: @hoveredButtonColor;
        box-shadow: 0 5px #666666;
        transform: translateY(4px);
    }
}

// Texts
// "Forgot password" text
span.password {
    display: block;
    position: relative;
    right: 0;
    padding-top: 16px;
}

// Animations
.zoom-animation {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}


@-webkit-keyframes animatezoom {
    from { -webkit-transform: scale(0) }
    to { -webkit-transform: scale(1) }
}

@keyframes animatezoom {
    from { transform: scale(0) }
    to { transform: scale(1) }
}

// Adaptive
@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }

    button.cancelButton {
        width: 100%;
    }
}