.home-header {
  grid-area: header;
  background-color: #ddd;
}
.home-main {
  grid-area: main;
  justify-self: center;
  color: white;
  text-align: center;
  padding-top: 1em;
}
.home-footer {
  grid-area: footer;
}
.home-container {
  display: grid;
  height: 100%;
  background-image: url("/assets/images/mac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header header header header" " . main main . " "footer . . .";
}

.social-links {
  padding: 15px 0 15px 0;
}
.social-links a {
  padding: 16px 16px 0 16px;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-links a:hover {
  opacity: 0.5;
}
.social-links a.facebook {
  background-image: url("/assets/images/icons/facebookColor.png");
}
.social-links a.instagram {
  background-image: url("/assets/images/icons/instagramColor.png");
}
.social-links a.snapchat {
  background-image: url("/assets/images/icons/snapchatColor.png");
}
.social-links a.pinterest {
  background-image: url("/assets/images/icons/pinterestColor.png");
}
.social-links a.twitter {
  background-image: url("/assets/images/icons/twitterColor.png");
}
.social-links a.linkedin {
  background-image: url("/assets/images/icons/linkedinColor.png");
}

.contact-icon p:before {
  content: "";
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 8px 0 0;
}
.contact-icon p.geo-marker:before {
  background-image: url("/assets/images/icons/geoMarker.png");
}
.contact-icon p.phone:before {
  background-image: url("/assets/images/icons/phone.png");
}
.contact-icon p.envelope:before {
  background-image: url("/assets/images/icons/envelope.png");
}

.button-icon:before {
  content: "";
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 8px 0 0;
}

.paper-plane:before {
  background-image: url("/assets/images/icons/paperPlane.png");
}

.about-icon {
  content: "";
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
  float: top;
  margin: 0 8px 0 0;
}
.about-icon-first:before {
  content: url("/assets/images/icons/artificialIntelligence.png");
}
.about-icon-second:before {
  content: url("/assets/images/icons/artificialIntelligence.png");
}
.about-icon-third:before {
  content: url("/assets/images/icons/artificialIntelligence.png");
}
.about-icon-fourth:before {
  content: url("/assets/images/icons/artificialIntelligence.png");
}

.contact-header {
  grid-area: header;
  background-color: #ddd;
}
.contact-title {
  grid-area: title;
  text-align: center;
  color: black;
}
.contact-info {
  grid-area: info;
  padding-left: 50px;
}
.contact-form {
  grid-area: form;
  padding: 8px;
}
.contact-form input {
  padding: 8px;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contact-map {
  grid-area: map;
  filter: grayscale(75%);
  margin-top: 50px;
  padding: 8px;
}
.contact-map img {
  width: 100%;
  height: auto;
}
.contact-container {
  display: grid;
  background-color: #f1f1f1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto auto 1fr;
  grid-template-areas: "header header header header" ". title title ." "info info . ." "form form form form" "map map map map";
}

.grid-header {
  grid-area: header;
  background-color: #ddd;
}
.grid-main {
  grid-area: main;
  background-color: #f1f1f1;
}
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas: "header header header header" "main main main main" "main main main main";
}

.about-header {
  grid-area: header;
  background-color: #ddd;
}
.about-main {
  grid-area: main;
  background-color: #f1f1f1;
}
.about-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas: "header header header header" "main main main main" "main main main main";
}

body, html {
  height: 100%;
  margin: 0;
}

.navbar-current {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: cyan;
  background-color: green;
}
.navbar-usual {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.navbar-usual:hover {
  background-color: #555;
  color: white;
}
.navbar-itemleft {
  grid-area: itemleft;
  justify-self: start;
  align-self: center;
}
.navbar-itemright {
  grid-area: itemright;
  justify-self: end;
  align-self: center;
}
.navbar-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "itemleft itemright";
}

.middle-title {
  font-size: 18px;
}

.large-title {
  font-size: 36px;
}

.extra-large-title {
  font-size: 64px;
}

.text-white {
  color: #fff;
}

.button {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
  opacity: 0.6;
  margin-top: 16px;
  padding: 12px 24px;
}

/*# sourceMappingURL=main.css.map */
